.Footer {
    background-color: #1A1423;
    margin-top: 20px;
}

.Footer p{
    font-family: 'Courier New', Courier, monospace;
}

.copyright{
    font-size: 0.9rem;
    padding-bottom: 10px;
}

.map{
    height: 80px;
    width: 1000px;
}

.logo {
    margin-top: 10px;
    margin-bottom: 10px;
}

.find-text{
    color: white;
    margin-bottom: 5rem;
}

@media (max-width: 768px) {
    .map {
        width:100%;
    }
    .row{
        width:100%;
    }
  }