  .land {
    width: 100%; /* Make the image responsive */
    height:100%; /* Maintain the aspect ratio */
    border-radius: 8px; /* Optional: Add rounded corners */
    object-fit: cover; /* Optional: Adjust image scaling */
    margin-top: -20px;
  }

  .overlay {
  position: absolute; /* Absolute positioning over the carousel */
  font-family: "Times New Roman", Times, serif;
  top: 40%; /* Center vertically */
  left: 50%; /* Center horizontally */
  width: 100%;
  transform: translate(-50%, -50%); /* Offset by half its size for perfect centering */
  text-align: center; /* Center text */
  color: #fff; /* White text for contrast */
  z-index: 1; /* Ensure it appears above the image */
}

.overlay h1 {
  font-size: 5.0rem; /* Adjust as needed */
  
  margin-bottom: 0rem;
  text-align: center;
}

.overlay p {
  font-size: 1.2rem; /* Adjust as needed */
  margin-bottom: 1rem;
}

.cta-button {
  background-color: #FAB803; /* Button color */
  position: absolute;
  left: 45%;
  top: 120%;
  width: 175px;
  font-family: "Lucida Console", "Courier New", monospace;
  color: black; /* Text color */
  padding: 0.8rem 1.5rem; /* Button padding */
  border: none; /* Remove borders */
  border-radius: 5px; /* Rounded corners */
  font-size: 1rem; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
}

.cta-button a{
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.cta-button a:hover{
  color: #1A1423;
}

.cta-button:hover {
  background-color: #fbc329; /* Darker shade on hover */
}

@media (max-width: 768px) {
  .land {
    width: 100%; /* Make the image responsive */
    height: 500px; /* Maintain the aspect ratio */
    border-radius: 8px; /* Optional: Add rounded corners */
    object-fit: cover; /* Optional: Adjust image scaling */
    margin-top: 37px;
    background-image:1 url("../images/landingM.png");
  }
  
  .overlay {
  position: absolute; /* Absolute positioning over the carousel */
  font-family: "Times New Roman", Times, serif;
  top: 40%; /* Center vertically */
  left: 40%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Offset by half its size for perfect centering */
  text-align: center; /* Center text */
  color: white; /* White text for contrast */
  z-index: 1; /* Ensure it appears above the image */
}

.overlay h1 {
  font-size: 1.8rem; /* Adjust as needed */
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  margin-left: 6rem;
  text-align: center;
}

.overlay p {
  font-size: 0.1rem; /* Adjust as needed */
  margin-bottom: 1rem;
}

.cta-button {
  background-color: #FAB803; /* Button color */
  position: absolute;
  margin-right: 100rem;
  width: 150px;
  color: black; /* Text color */
  padding: 0.8rem 1.5rem; 
  border: none; /* Remove borders */
  border-radius: 5px; /* Rounded corners */
  font-size: 0.7rem; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
}

}